<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Valley Girl</title>
        <link rel="icon" type="image/png" href="faviconla.png">
		
		<link rel="stylesheet" type="text/css" href="design/design.css">
		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="communicateCtrl">
		<div id="chatBox" > 
			<div ng-repeat="chatBalloon in chatBalloons">
				<div class = "chatBalloon {{chatBalloon.classAdded}}" >
					{{chatBalloon.txtToDisplay}}
				</div>
				<br>
			</div>
		</div>
		<div id = "sendMsgForm">
				<input type = "text" placeholder = "Talk to her!" size = 40 ng-model = "txtField">
				<button ng-click="toggle()">Send</button>
		</div>
		
		<script>
			var app = angular.module('myApp', []);
			app.controller('communicateCtrl', function($scope, $http)
			{
				$scope.chatBalloons = [];
				
				$scope.toggle = function()
				{
					if($scope.txtField === "")
					{
						alert("Say something! Whatever geek...");
					}
					else
					{
						var message = $scope.txtField;
						$scope.txtField = "";
						$scope.chatBalloons.push({'txtToDisplay': message, 'classAdded': 'userBalloon'});
						
						$('#chatBox').animate({
						scrollTop: $('#chatBox')[0].scrollHeight}, 2000);
						$http.post('aiApi.php', {'msg' : message})
						.then(function(response) 
						{
							$scope.chatBalloons.push({'txtToDisplay': response.data.message.message, 'classAdded': 'botBalloon'});
							
							$('#chatBox').animate({
							scrollTop: $('#chatBox')[0].scrollHeight}, 2000);
						}); 
						
					}
				}
			});
			
			function splitString(myString)
			{
				return myString.split("<")[0];
			}
		</script>
    </body>
</html>